---
layout: layouts/base.njk
section: post
comments: true
---

<article>
    <h1>{{ title }}</h1>
    <p>
        <small>
            <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
            by {{ metadata.author.name }}
        </small>
    </p>

    {{ layoutContent | safe }}


    <div class="mediatec-cleanaudioplayer">
        <ul data-theme="dark">
            {% for song in playlist %}
                <li data-title="{{ song[1] }}" data-artist="{{ song[2] }}" data-type="mp3"
                    data-url="/static/{{ title }}/{{ song[0] }}" data-free="true"></li>
            {% endfor %}
        </ul>
    </div>

    {% if tags %}
        <p>
            {% for tag in tags %}
                {%- if tag != "post" -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                {%- endif -%}
            {% endfor %}
        </p>
    {% endif %}
    {% if comments %}
        <div class="comments">
            {# Add the any comments we have stashed for this page #}
            {% include "components/comments.njk" -%}
            {# Unless we have disabled comments for this page, add a comments form #}
            {% if commentsClosed != true %}
                {% include "components/comment-form.njk" -%}
            {% else %}
                <div class="footnote">
                    <p>
                        comments on this page are now closed. Perhaps express your opinions about this <a href="https://twitter.com/intent/tweet?text=I%20need%20to%20tell%20the%20world%20about%20this!&url={{ init.rootURL }}{{ page.url }}">on twitter</a> instead?
                    </p>
                </div>
            {% endif %}
        </div>
    {% endif %}

</article>

<nav>
    <a href="{{ '/' | url }}">← Mixes index</a>
</nav>
